<nav class="navbar navbar-dark bg-secondary" >
  <ul class="list-unstyled d-flex">
    
  </ul>
  <div class="container">
      <footer>
        <ul class="nav">
          <div><a href="https://www.facebook.com/epicgames" class="nav-link">
            <i class="bi bi-twitter" style="color: black;">
            <svg class= "bi" width="30" height="30" fill="currentColor">
              <use xlink:href="bootstrap-icons.svg#facebook"/>
            </svg>
            </i>
          </a></div>

          <div><a href="https://twitter.com/epicgames" class="nav-link">
            <i class="bi bi-twitter" style="color: black;">
            <svg class= "bi" width="30" height="30" fill="currentColor">
              <use xlink:href="bootstrap-icons.svg#twitter"/>
            </svg></i>
          </a></div>

          <div><a href="https://www.youtube.com/epicgamesinc" class="nav-link">
            <i class="bi bi-twitter" style="color: black;">
            <svg class= "bi" width="30" height="30" fill="currentColor">
              <use xlink:href="bootstrap-icons.svg#youtube"/>
            </svg></i>
          </a></div>
        </ul>
        <div class="row">
          <div class="col-6">
              <a class="nav-link disabled p-0 text-dark" href="#">Resources</a>
            <ul class="nav flex-column">
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Support-A-Creator</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Company</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Store EULA</a></li>
            </ul>
          </div>
    
          <div class="col-6">
              <span class="placeholder col-6 bg-secondary"></span>
            <ul class="nav flex-column">
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Public on Epic Games</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Fan Art Policy</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Online Services</a></li>
            </ul>
          </div>
    
          <div class="col-6">
              <span class="placeholder col-6 bg-secondary"></span>
            <ul class="nav flex-column">
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Careers</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">UX Research</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Community Rules</a></li>
            </ul>
          </div>
        </div>
        <span class="placeholder col-12 bg-secondary"></span>
        <div class="row">
          <div class="col-6">
              <a class="nav-link disabled p-0 text-dark" href="#">Made By Epic Games</a>
            <ul class="nav flex-column">
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Battle Breakers</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Fortnite</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Infinity Blade</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Robo Recall</a></li>
            </ul>
          </div>
    
          <div class="col-6">
              <span class="placeholder col-12 bg-secondary"></span>
            <ul class="nav flex-column">
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Shadow Complex</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Spyjinx</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Unreal Tournament</a></li>
            </ul>
          </div>
        </div>
        
        <div class="d-flex justify-content-between py-4 my-4 border-top">
        </div>
        
      </footer>
    </div>
</nav>