<div class="container-fluid">
    <div class="d-flex justify-content-center col-12">
        <app-body-carousel>Loading</app-body-carousel>
    </div>
    
    <app-body-important-layout-important>Loading</app-body-important-layout-important>
    <app-body-big-important-layout-big-important>Loading</app-body-big-important-layout-big-important>
    <app-body-new-layout-new>Loading</app-body-new-layout-new>
    <app-body-recently-updated-layout-recently-updated>Loading</app-body-recently-updated-layout-recently-updated>
</div>