<li class=""><a class="">
    <div class="card mb-3 text-start justify-content-center me-5 ms-5 bg-dark" style=" width: auto, 500;">
        <div class="d-flex align-self-start">
            <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <button class="nav-link active" id="v-pills-saints-tab" data-bs-toggle="pill" data-bs-target="#v-pills-saints" type="button" role="tab" aria-controls="v-pills-saints" aria-selected="true">
                    <div class="text-wrap" style="width: 8rem;"><a class="text-white text-decoration-none">
                        Saints Row
                    </a></div>
                </button>
                <button class="nav-link" id="v-pills-farming-tab" data-bs-toggle="pill" data-bs-target="#v-pills-farming" type="button" role="tab" aria-controls="v-pills-farming" aria-selected="false">
                    <div class="text-wrap" style="width: 8rem;"><a class="text-white text-decoration-none">
                        Farming Simulator 2022
                    </a></div>
                </button>
                <button class="nav-link" id="v-pills-storm-tab" data-bs-toggle="pill" data-bs-target="#v-pills-storm" type="button" role="tab" aria-controls="v-pills-storm" aria-selected="false">
                    <div class="text-wrap" style="width: 8rem;"><a class="text-white text-decoration-none">
                        Against The Storm
                    </a></div>
                </button>
                <button class="nav-link" id="v-pills-wrath-tab" data-bs-toggle="pill" data-bs-target="#v-pills-wrath" type="button" role="tab" aria-controls="v-pills-wrath" aria-selected="false">
                    <div class="text-wrap" style="width: 8rem;"><a class="text-white text-decoration-none">
                        PathFinder: Wrath of Righteous
                    </a></div>
                </button>
                <button class="nav-link" id="v-pills-jurassic-tab" data-bs-toggle="pill" data-bs-target="#v-pills-jurassic" type="button" role="tab" aria-controls="v-pills-jurassic" aria-selected="false">
                    <div class="text-wrap" style="width: 8rem;"><a class="text-white text-decoration-none">
                        Jurassic World Evolution 2
                    </a></div>
                </button>
                <button class="nav-link" id="v-pills-war-tab" data-bs-toggle="pill" data-bs-target="#v-pills-war" type="button" role="tab" aria-controls="v-pills-war" aria-selected="false">
                    <div class="text-wrap" style="width: 8rem;"><a class="text-white text-decoration-none">
                        World War Z Aftermath
                    </a></div>
                </button>
            </div>
    
            <div class="tab-content align-items-center carousel-fade" id="v-pills-tabContent">
                <div class="tab-pane fade show active pt-4 ps-4 carousel-item active" id="v-pills-saints" role="tabpanel" aria-labelledby="v-pills-saints-tab">
                  <a class="navbar-brand nav-item " href="#">
                    <img src="https://cdn2.unrealengine.com/egs-saintsrow-deepsilvervolition-s1-2560x1440-db335fc5b57a.jpg?h=480&resize=1&w=854" alt="centered image"class="rounded mx-auto d-block" width="" height="330">
                  </a>
                </div>
                <div class="tab-pane fade pt-4 ps-4 carousel-item" id="v-pills-farming" role="tabpanel" aria-labelledby="v-pills-farming-tab">
                  <a class="navbar-brand nav-item " href="#">
                    <img src="https://cdn2.unrealengine.com/egs-farmingsimulator22preorderbundle-giantssoftware-s3-2560x1440-fe0f2c2e5147.jpg" alt="centered image"class="rounded mx-auto d-block" width="" height="330">
                  </a>
                </div>
                <div class="tab-pane fade pt-4 ps-4 carousel-item" id="v-pills-storm" role="tabpanel" aria-labelledby="v-pills-storm-tab">
                  <a class="navbar-brand nav-item " href="#">
                    <img src="https://cdn2.unrealengine.com/egs-againstthestorm-eremitegames-g1a-00-1920x1080-0d45cca13950.jpg" alt="centered image"class="rounded mx-auto d-block" width="" height="330">
                  </a>
                </div>
                <div class="tab-pane fade pt-4 ps-4 carousel-item" id="v-pills-wrath" role="tabpanel" aria-labelledby="v-pills-wrath-tab">
                  <a class="navbar-brand nav-item " href="#">
                    <img src="https://cdn2.unrealengine.com/egs-pathfinderwrathoftherighteous-owlcatgames-s1-2560x1440-e59eb789e6a5.jpg?h=480&resize=1&w=854" alt="centered image"class="rounded mx-auto d-block" width="" height="330">
                  </a>
                </div>
                <div class="tab-pane fade pt-4 ps-4 carousel-item" id="v-pills-jurassic" role="tabpanel" aria-labelledby="v-pills-jurassic-tab">
                  <a class="navbar-brand nav-item " href="#">
                    <img src="https://cdn2.unrealengine.com/egs-jurassicworldevolution2-frontierdevelopments-s1-2560x1440-bd807e351ab4.jpg?h=480&resize=1&w=854" alt="centered image"class="rounded mx-auto d-block" width="" height="330">
                  </a>
                </div>
                <div class="tab-pane fade pt-4 ps-4 carousel-item" id="v-pills-war" role="tabpanel" aria-labelledby="v-pills-war-tab">
                  <a class="navbar-brand nav-item " href="#">
                    <img src="https://cdn2.unrealengine.com/landscape-wwzaftermath-2560x1440-5e4bd76724d6.jpg?h=480&resize=1&w=854" alt="centered image"class="rounded mx-auto d-block" width="" height="330">
                  </a>
                </div>
            </div>
          </div>
    </div></a>
    </li>
