<!--<p>This is the root app component</p>-->
<body class="bg-dark">
<app-top-nav-bar>Loading</app-top-nav-bar>
<app-mid-nav-bar>Loading</app-mid-nav-bar>
<span class="placeholder col-12 bg-dark"></span>
<span class="placeholder col-12 bg-dark"></span>
<span class="placeholder col-12 bg-dark"></span>
<span class="placeholder col-12 bg-dark"></span>
<span class="placeholder col-12 bg-dark"></span>
<span class="placeholder col-12 bg-dark"></span>
<span class="placeholder col-12 bg-dark"></span>
<span class="placeholder col-12 bg-dark"></span>
<span class="placeholder col-12 bg-dark"></span>
<span class="placeholder col-12 bg-dark"></span>
<span class="placeholder col-12 bg-dark"></span>
<span class="placeholder col-12 bg-dark"></span>
<span class="placeholder col-12 bg-dark"></span>
<span class="placeholder col-12 bg-dark"></span>
<span class="placeholder col-12 bg-dark"></span>
<span class="placeholder col-12 bg-dark"></span>
<span class="placeholder col-12 bg-dark"></span>
<span class="placeholder col-12 bg-dark"></span>
<span class="placeholder col-12 bg-dark"></span>
<span class="placeholder col-12 bg-dark"></span>
<span class="placeholder col-12 bg-dark"></span>
<span class="placeholder col-12 bg-dark"></span>
<span class="placeholder col-12 bg-dark"></span>
<span class="placeholder col-12 bg-dark"></span>
<span class="placeholder col-12 bg-dark"></span>
<span class="placeholder col-12 bg-dark"></span>
<span class="placeholder col-12 bg-dark"></span>
<span class="placeholder col-12 bg-dark"></span>
<app-bottom-nav-bar>Loading</app-bottom-nav-bar>
</body>