  <li class="m-5"><div class="card bg-dark text-white me-3 ms-3" style="width: 29rem;">
    <a class="navbar-brand nav-item " href="#">
        <img src={{imagePath}} class="rounded mx-auto d-block" width="" height="260">
    </a>
    <div class="card-body p-2">
      <h6 class="card-title">{{gameName}}</h6>
      <p class="card-text">{{gameDescription}}</p>
    </div>
    <ul class="list-group list-group-flush">
        <div class="d-flex flex-row">
            <div class="p-1 bd-highlight">{{price}}</div>
          </div>
    </ul>
  </div></li>