<li class="m-5"><a class="p-3">
<div class="card text-start align-self-start" style="background-color: gray;">
    <div class="d-flex align-self-start">
        <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <button class="nav-link active" id="v-pills-saints-tab" data-bs-toggle="pill" data-bs-target="#v-pills-saints" type="button" role="tab" aria-controls="v-pills-saints" aria-selected="true">
                <div class="text-wrap" style="width: 8rem;"><a class="text-white">
                    Saints Row
                </a></div>
            </button>
            <button class="nav-link" id="v-pills-farming-tab" data-bs-toggle="pill" data-bs-target="#v-pills-farming" type="button" role="tab" aria-controls="v-pills-farming" aria-selected="false">
                <div class="text-wrap" style="width: 8rem;"><a class="text-white">
                    Farming Simulator 2022
                </a></div>
            </button>
            <button class="nav-link" id="v-pills-storm-tab" data-bs-toggle="pill" data-bs-target="#v-pills-storm" type="button" role="tab" aria-controls="v-pills-storm" aria-selected="false">
                <div class="text-wrap" style="width: 8rem;"><a class="text-white">
                    Against The Storm
                </a></div>
            </button>
            <button class="nav-link" id="v-pills-wrath-tab" data-bs-toggle="pill" data-bs-target="#v-pills-wrath" type="button" role="tab" aria-controls="v-pills-wrath" aria-selected="false">
                <div class="text-wrap" style="width: 8rem;"><a class="text-white">
                    PathFinder: Wrath of Righteous
                </a></div>
            </button>
            <button class="nav-link" id="v-pills-jurassic-tab" data-bs-toggle="pill" data-bs-target="#v-pills-jurassic" type="button" role="tab" aria-controls="v-pills-jurassic" aria-selected="false">
                <div class="text-wrap" style="width: 8rem;"><a class="text-white">
                    Jurassic World Evolution 2
                </a></div>
            </button>
            <button class="nav-link" id="v-pills-war-tab" data-bs-toggle="pill" data-bs-target="#v-pills-war" type="button" role="tab" aria-controls="v-pills-war" aria-selected="false">
                <div class="text-wrap" style="width: 8rem;"><a class="text-white">
                    World War Z Aftermath
                </a></div>
            </button>
        </div>

        <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="v-pills-saints" role="tabpanel" aria-labelledby="v-pills-saints-tab">
              Saints
            </div>
            <div class="tab-pane fade" id="v-pills-farming" role="tabpanel" aria-labelledby="v-pills-farming-tab">
              Farming
            </div>
            <div class="tab-pane fade" id="v-pills-storm" role="tabpanel" aria-labelledby="v-pills-storm-tab">
              Storm
            </div>
            <div class="tab-pane fade" id="v-pills-wrath" role="tabpanel" aria-labelledby="v-pills-wrath-tab">
              Wrath
            </div>
            <div class="tab-pane fade" id="v-pills-jurassic" role="tabpanel" aria-labelledby="v-pills-jurassic-tab">
              Jurassic
            </div>
            <div class="tab-pane fade" id="v-pills-war" role="tabpanel" aria-labelledby="v-pills-war-tab">
              War
            </div>
        </div>
      </div>
      <!--
    <div class="card-header">
      <ul class="nav nav-pills nav-flex-column card-header-pills justify-content-end">
        <li class="nav-item">
          <a class="nav-link active" href="#">Active</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li>
      </ul>
    </div>
    <div class="card-body">
      <h5 class="card-title">Special title treatment</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    </div>-->
</div></a></li>

<li class="m-5"><div class="card bg-dark text-white" style="width: 13rem;">
    <a class="navbar-brand nav-item " href="#">
        <img src="https://cdn1.epicgames.com/f4a904fcef2447439c35c4e6457f3027/offer/DS_Tall-1280x1440-5a96ed93665756b28f6d70e65266e64c.jpg?h=854&resize=1&w=640" class="rounded mx-auto d-block" width="200" height="250">
    </a>
    <div class="card-body p-2">
      <h6 class="card-title">DEATH STRANDING</h6>
      <p class="card-text">Kojima Productions | 505 Games S.r.l.</p>
    </div>
    <ul class="list-group list-group-flush">
        <div class="d-flex flex-row">
            <div class="p-1 bd-highlight"><a class="text-white text-decoration-none" style="background-color: blue;" href="#">
                -60%</a></div>
            <div class="p-1 bd-highlight"><p class="text-decoration-line-through">
                %59.99
            </div>
            <div class="p-1 bd-highlight">$23.99</div>
          </div>
    </ul>
  </div></li>

  <li class="m-5"><div class="card bg-dark text-white" style="width: 29rem;">
    <a class="navbar-brand nav-item " href="#">
        <img src="https://cdn1.epicgames.com/salesEvent/salesEvent/EGS_HITMAN3SevenDeadlySinsAct5Gluttony_IOInteractiveAS_DLC_S1_2560x1440-8a3abe7016daf81550e4d4204fe9ffc5" class="rounded mx-auto d-block" width="" height="260">
    </a>
    <div class="card-body p-2">
      <h6 class="card-title">Hitmain 3 - Gluttony DLC</h6>
      <p class="card-text">Hungry for more HITMAN 3? The Season of Gluttony has started and brings new content!</p>
    </div>
    <ul class="list-group list-group-flush">
        <div class="d-flex flex-row">
            <div class="p-1 bd-highlight">$4.99</div>
          </div>
    </ul>
  </div></li>