  <li><div class="card bg-dark text-white  me-3 ms-3" style="width: 13rem;">
      <a class="navbar-brand nav-item " href="#">
          <img src={{imagePath}} class="rounded mx-auto d-block" width="200" height="250">
      </a>
      <div class="card-body p-2">
        <h6 class="card-title">{{gameName}}<!--Game Name--></h6>
        <p class="card-text">{{gameCreator}}<!--Game Creator--></p>
      </div>
      <ul class="list-group list-group-flush">
          <div class="d-flex flex-row">
              <div class="p-1 bd-highlight"><a class="text-white text-decoration-none" style="background-color: blue;" href="#">
                  {{discount}}<!--Discount--></a></div>
              <div class="p-1 bd-highlight"><p class="text-decoration-line-through">
                  $59.99<!--Original Price-->
              </div>
              <div class="p-1 bd-highlight">$23.99<!--Current Price--></div>
            </div>
      </ul>
    </div></li>